body,
html {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#app {
  display: grid;
  grid-template-columns: 150px 1fr;
  height: 100vh;
  overflow-y: hidden;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 20px;
  border-right: 1px solid white;
}
#sidebar a {
  display: block;
  padding: 10px;
  color: inherit;
}

#webpage {
  overflow: auto;
}

.displayPage {
  padding: 0 20px;
  width: 90%;
  margin-bottom: 10%;
}

td, th {
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
}
th {
  background-color: rgb(177, 177, 177);
  color: black;
}